NEXT_PUBLIC_SUPABASE_URL=https://yoszuiotyyckvirlbleh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvc3p1aW90eXlja3ZpcmxibGVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1NTEzODgsImV4cCI6MjA3NjEyNzM4OH0.SVuKeVx8fdTF38ipWpQaoQTlkfdXj7D05E9-LyBTW04
VITE_SUPABASE_URL=https://yoszuiotyyckvirlbleh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvc3p1aW90eXlja3ZpcmxibGVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1NTEzODgsImV4cCI6MjA3NjEyNzM4OH0.SVuKeVx8fdTF38ipWpQaoQTlkfdXj7D05E9-LyBTW04
GOOGLE_GENAI_API_KEY=AIzaSyDN9x23mvz7JGU1HxPeNSK3cw9pPDmBM7M